{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>Codecult Accounts</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- See http://www.getmdl.io/ -->
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
	type="text/css">
	<link rel="stylesheet" href="{% static 'accounts/styles/main.css' %}">
  </head>
  <body>
	{% block content %}{% endblock %}
	<!-- Scripts -->
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
  </body>
</html>
