{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}

{% block content %}
<div class='brand-header'>
	<img src="{% static 'accounts/images/logo_eduraam_transparant.png' %}" />
</div>
<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
	<h2 class="mdl-card__title-text">{% trans "Log In" %}</h2>
  </div>
  <div class="mdl-card__supporting-text">
	  <form method="POST">
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="username">
		<label class="mdl-textfield__label" for="username">Username</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="password" id="password">
		<label class="mdl-textfield__label" for="password">Password</label>
	</div>
  </div>
	<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
		href="#">
		Login
	</a>
  <div class="mdl-card__actions mdl-card--border">
	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
		href="{% url 'account_reset_password' %}">
		{% trans "Ik ben mijn wachtwoord vergeten" %}
	</a>
  </div>
</div>
<!--
	<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
		href="{% provider_login_url 'google' process='login' %}">
		Login met Google
	</a>
-->
{% endblock %}
