{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}

{% block content %}
<div class='brand-header'>
    <img src="{% static 'accounts/images/logo_codecult_transparant.png' %}" />
</div>
<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{% trans "Password Reset" %}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    {{ form.non_field_errors }}
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
      {% csrf_token %}
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="id_email" name="email">
        <label class="mdl-textfield__label" for="id_email">{% trans 'E-mail' %}</label>
        <span class="mdl-textfield__error" {% if form.email.errors %}style='visibility: visible'{% endif %}>
        {% for error in form.email.errors %}
          {{ error|escape }}
          {% if not forloop.last %}<br />{% endif %}
        {% endfor %}
        </span>
      </div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">
        {% trans 'Reset My Password' %}
      </button>
    </form>
  </div>
</div>
{% endblock %}
