{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}

{% block content %}
<div class='brand-header'>
    <img src="{% static 'accounts/images/logo_codecult_transparant.png' %}" />
</div>
<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
		{% if token_fail %}
			{% trans "Bad Token" %}
		{% else %}
			{% trans "Change Password" %}
		{% endif %}
	</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>{% trans 'Your password is now changed.' %}</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
      href="{% url 'account_login' %}">
      {% trans "Go to the log in screen" %}
    </a>
  </div>
</div>
{% endblock %}
