{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}

{% block content %}
<div class='brand-header'>
    <img src="{% static 'accounts/images/logo_codecult_transparant.png' %}" />
</div>
<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{% trans "Password Reset" %}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
  </div>
</div>
{% endblock %}
