{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}

{% block content %}
<div class='brand-header'>
    <img src="{% static 'accounts/images/logo_codecult_transparant.png' %}" />
</div>
<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
		{% if token_fail %}
			{% trans "Bad Token" %}
		{% else %}
			{% trans "Change Password" %}
		{% endif %}
	</h2>
  </div>
  <div class="mdl-card__supporting-text">
    {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
      {% if form %}
        <form method="POST" action=".">
          {% csrf_token %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="id_password1" name="password1">
            <label class="mdl-textfield__label" for="id_password1">
              {% trans 'New Password' %}
            </label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="id_password2" name="password2">
            <label class="mdl-textfield__label" for="id_password2">
              {% trans 'New Password (again)' %}
            </label>
          </div>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">
            {% trans 'Change Password' %}
          </button>
        </form>
      {% else %}
        <p>{% trans 'Your password is now changed.' %}</p>
      {% endif %}
    {% endif %}
  </div>
  {% if not form %}
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
      href="{% url 'account_login' %}">
      {% trans "Go to the log in screen" %}
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}
