{% load i18n staticfiles compress %}
<!DOCTYPE html>
<html>
<head>
	<title>{% trans "EduBox" %}</title>
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<style>
	#app-vm iframe {
		height: 800px;
	}
</style>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">EduBox</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">About</a>
        <a class="mdl-navigation__link" href="">Account</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content" id="app-vm"></div>
  </main>
</div>

{% compress js %}
<script type="text/javascript" src="{% static "loader/js/env.js" %}"></script>
<script type="text/javascript">
Environment.init({
    container: "#app-vm",
    apps: {
        api: {
            list: "{% url 'app-list' %}",
            details: "{% url 'app-detail' '--$id--' %}",
            router: "{% url 'app_routing' '--$id--' '/--$path--' %}"
        }
    },
    services: {
        api: {
            list: "{% url 'service-list' %}",
            details: "{% url 'service-detail' '--$id--' %}",
            router: "{% url 'service_routing' '--$id--' '/--$path--' %}"
        }
    }
});
</script>
{% endcompress %}
</body>
</html>
